* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #0b5ed7;
}

.logo img {
  width: 40px;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #0b5ed7;
}

/* HERO */
.hero {
  margin: 3rem auto;
  width: 85%;
  height: 420px;
  background: linear-gradient(
    rgba(0,0,0,0.45),
    rgba(0,0,0,0.45)
  ),
  url("../src/foto.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.hero-content {
  color: white;
  padding: 4rem;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.btn-hero {
  padding: 0.8rem 1.5rem;
  background: #0b5ed7;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.btn-hero:hover {
  background: #084298;
}

/* CONTENT */
#app-content {
  padding: 2rem 4rem;
}

/* FOOTER */
footer {
  margin-top: 4rem;
  text-align: center;
  padding: 1.5rem;
  background: #111;
  color: white;
}